.toTop{
    position: fixed; 
    bottom: 80px;
    right: 10px;
    height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: #141414a6;
    border: none;
    background: none;
    transition: all 0.3s ease-in-out;
}